@{ 
    Layout = null;
    ViewBag.Title = "首页";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="icon" href="~/images/icon.png">
    <title>@ViewBag.Title - vNext China</title>
    <link href="~/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/styles/monokai_sublime.css" rel="stylesheet" />
    <link href="~/styles/vnextcn.base.css" rel="stylesheet" />
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/vnextcn.plugins.js"></script>
    <script src="~/scripts/jquery.signalr-2.0.3.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/scripts/vnextcn.ajax.js"></script>
    <script src="~/scripts/vnextcn.main.js"></script>
    <script src="~/scripts/vnextcn.signalr.js"></script>
</head>
<body class="paged archive-template fixed-navbar">
    <!-- start header -->
    <header class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="material-icons">&#xE5D2;</i>
                    </button>
                    <!-- start logo -->
                    <a class="navbar-brand text-logo" asp-controller="Home" asp-action="Index">vNext CN</a>
                    <!-- end logo -->
                </div>
                @Html.Partial("_Navigator")
            </div>
        </nav>
    </header>
    <!-- end header -->

    <div class="cover cover-home">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="welcome-message">欢迎来到 vNext China</h1>
                    <p class="h4 description">在线实例测试、技术交流、开发比赛、免费的持续集成平台</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content-area">
        <div class="container">
            <div class="cont-wrap">
                <div class="grid_9">
                    <h2 class="header">近期比赛</h2>
                    
                    <div class="block-outer">
                        @foreach (Contest x in ViewBag.Contests)
                        {
                            var result = string.Empty;
                            if (x.Status == ContestStatus.Pending)
                            {
                                result = "blue";
                            }
                            else if(x.Status == ContestStatus.Live)
                            {
                                result = "red";
                            }
                            <div class="block @result">
                                <h2><a asp-action="Show" asp-controller="Contest" asp-route-id="@x.Id">@x.Title</a></h2>
                                <p class="small"><span>@x.Begin.ToString("yyyy-MM-dd HH:mm") ~ @x.End.ToString("yyyy-MM-dd HH:mm")</span></p>
                                @Html.Sanitize(Html.Marked(x.Description).ToString())
                            </div>
                        }
                    </div>
                </div>
                <div class="grid_3">
                    <div class="sidebar">
                        <h3 class="header">讨论节点</h3>
                        @foreach(Forum x in ViewBag.Forums)
                        {
                            <p>@x.Title</p>
                            @foreach(var y in x.SubForums.OrderBy(z => z.PRI))
                            {
                                <a asp-action="Show" asp-controller="Forum" asp-route-id="@y.Id">@y.Title</a>
                            }
                        }
                    </div>
                    <div class="sidebar">
                        <h3 class="header">链接</h3>
                        <ul>
                            <li><a target="_blank" href="https://github.com/aspnet">ASP.Net GitHub</a></li>
                            <li><a target="_blank" href="https://github.com/dotnet">.Net Foundation</a></li>
                            <li><a target="_blank" href="http://asp.net/vnext">vNext 官方网站</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
    <a href="#" id="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <div class="search-popup">
        <div class="close-button">
            <i class="material-icons">&#xE5C9;</i>
        </div>
        <div class="container popup-inner">
            <div class="row">
                <div class="col-sm-12">
                    <form>
                        <div class="input-group">
                            <input type="email" class="required" id="search-input">
                            <span class="bar"></span>
                            <label>Type to search</label>
                        </div>
                        <!-- <input type="text"  placeholder="" /> -->
                    </form>
                    <div id="search-results">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
