@model IEnumerable<Topic>

<div class="container">
    <div class="cont-wrap">
        <div class="grid_12">
            <h2 class="exp-sub-title">@ViewBag.Title</h2>
            <div class="cont-outer">
                <table class="table table-topic">
                    <colgroup>
                        <col class="hide-when-narrow" style="width: 50px" />
                        <col />
                        <col style="width: 120px" />
                        <col class="hide-when-narrow" style="width: 110px" />
                        <col class="hide-when-narrow" style="width: 245px" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="hide-when-narrow"></th>
                            <th>主题</th>
                            <th class="center">作者</th>
                            <th class="center hide-when-narrow">回复/查看</th>
                            <th class="hide-when-narrow">最后回复</th>
                        </tr>
                    </thead>
                    <tbody class="topic-announcements">
                        @foreach (Topic x in ViewBag.Announcements)
                        {
                            <tr>
                                <td class="hide-when-narrow center"><i class="fa fa-volume-up topic-icon"></i></td>
                                <td>
                                    <a asp-action="Topic" asp-controller="Forum" asp-route-id="@x.Id">@x.Title</a>
                                    @if (x.IsAnnouncement)
                                    { 
                                        <span class="topic-label purple">ANNOUNCEMENT</span>
                                    }
                                    @if (x.IsLocked)
                                    {
                                        <span class="topic-label">LOCKED</span>
                                    }
                                </td>
                                <td class="center">
                                    <a asp-action="Show" asp-controller="Account" asp-route-id="@x.UserId">@await Html.ColorUserNameAsync(x.User)</a>
                                    <br />
                                    <span class="topic-time">@x.CreationTime.ToString("yyyy-MM-dd HH:mm")</span>
                                </td>
                                <td class="hide-when-narrow center">
                                    <span class="table-topic-post">@x.Posts.Count</span> / <span class="table-topic-visit">@x.Visit</span>
                                </td>
                                <td class="hide-when-narrow">
                                    <div class="table-topic-last-post">
                                        @if (x.LastPost != null)
                                        {
                                            <img src="@Url.Action("Avatar", "Account", new { id = x.LastPost.UserId })" class="table-forums-avatar" />
                                            <a asp-action="Topic" asp-controller="Forum" asp-route-id="@x.LastPost.Id"><span class="table-forums-micro-title gray">@x.LastPost.FiltedContent</span></a>
                                            <div class="table-forums-micro-title"><a asp-action="Show" asp-controller="Account" asp-route-id="@x.LastPost.UserId">@await Html.ColorUserNameAsync(x.LastPost.User)</a> <span class="table-forums-lastrep-time">@@@x.LastPost.Time.ToString("yyyy:MM:dd HH:mm")</span></div>
                                        }
                                        else
                                        {
                                            <span class="table-forums-noreply">暂无回复</span>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                @if (x.IsLocked)
                                {
                                    <td class="hide-when-narrow center"><i class="fa fa-lock topic-icon"></i></td>
                                }
                                else
                                {
                                    <td class="hide-when-narrow center"><i class="fa fa-commenting-o topic-icon"></i></td>
                                }
                                <td>
                                    <a asp-action="Topic" asp-controller="Forum" asp-route-id="@x.Id">@x.Title</a>
                                    @if (x.IsTop)
                                    {
                                        <span class="topic-label purple">TOP</span>
                                    }
                                    @if (x.IsLocked)
                                    {
                                        <span class="topic-label">LOCKED</span>
                                    }
                                </td>
                                <td class="center">
                                    <a asp-action="Show" asp-controller="Account" asp-route-id="@x.UserId">@await Html.ColorUserNameAsync(x.User)</a>
                                    <br />
                                    <span class="topic-time">@x.CreationTime.ToString("yyyy-MM-dd HH:mm")</span>
                                </td>                                <td class="hide-when-narrow center">
                                    <span class="table-topic-post center">@x.Posts.Count</span> / <span class="table-topic-visit">@x.Visit</span>
                                </td>
                                <td class="hide-when-narrow">
                                    <div class="table-topic-last-post">
                                        @if (x.LastPost != null)
                                        {
                                            <img src="@Url.Action("Avatar", "Account", new { id = x.LastPost.UserId })" class="table-forums-avatar" />
                                            <a asp-action="Topic" asp-controller="Forum" asp-route-id="@x.LastPost.Id"><span class="table-forums-micro-title gray">@x.LastPost.FiltedContent</span></a>
                                            <div class="table-forums-micro-title"><a asp-action="Show" asp-controller="Account" asp-route-id="@x.LastPost.UserId">@await Html.ColorUserNameAsync(x.LastPost.User)</a> <span class="table-forums-lastrep-time">@@@x.LastPost.Time.ToString("yyyy:MM:dd HH:mm")</span></div>
                                        }
                                        else
                                        {
                                            <span class="table-forums-noreply">暂无回复</span>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="pager-outer">
                    @Html.MakePager()
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>