@model Post
@{ 
    Layout = null;
    var x = Model;
    var Thread = x.Thread;
}

<tr data-id="@x.Id">
    <td class="center">
        <a asp-action="Show" asp-controller="Account" asp-route-id="@x.UserId" class="center">@await Html.ColorUserNameAsync(x.User)</a>
        <hr />
        <p><img class="post-avatar" src="@Url.Action("Avatar", "Account", new { id = x.UserId })" /></p>
        <p class="post-role"><span class="thread-label purple">@((await User.Manager.GetRolesAsync(x.User)).First())</span></p>
    </td>
    <td>
        @if (Thread.UserId == x.UserId)
        {
            <span class="thread-label">楼主</span>
        }
        else if (await User.Manager.IsInAnyRolesAsync(x.User, "Root, Master"))
        {
            <span class="thread-label purple">OFFICIAL</span>
        }
        @if (User.IsSignedIn())
        {
            @if (User.IsSignedIn() && (!Thread.IsLocked || User.AnyRoles("Root, Master")) && x.SubPosts.Count == 0)
            {
                <a href="javascript:Post('@x.Id')">回复</a>
            }
            @if (x.UserId == User.Current.Id || User.AnyRoles("Root, Master"))
            {
                <a href="javascript:EditPost('@x.Id')">编辑</a>
                                                <a href="javascript:RemovePost('@x.Id')">删除</a>
            }
        }
        <span class="table-post-time">回复于 @x.Time.ToString("yyyy-MM-dd HH:mm:ss")</span>
        <hr />
        <div class="post-content">@Html.Sanitize(Html.Marked(x.Content).ToString())</div>
        <div class="post-edit"></div>
        @if (x.SubPosts.Count > 0)
        {
            <h3 class="comment-header">
                楼中楼回复
                @if (User.IsSignedIn() && (!Thread.IsLocked || User.AnyRoles("Root, Master")))
                {
                    <a href="javascript:Post('@x.Id')" class="add-comment">添加回复</a>
                }
            </h3>
            foreach (var y in x.SubPosts.OrderBy(z => z.Time))
            {
                <div class="comment-item" data-id="@y.Id">
                    <img class="comment-avatar" src="@Url.Action("Avatar", "Account", new { id = y.UserId })" />
                    <div class="comment-content">
                        <p>
                            @if (await User.Manager.IsInAnyRolesAsync(y.User, "Root, Master"))
                            {
                                <span class="thread-label purple">OFFICIAL</span>
                            }
                            else if (y.UserId == Thread.UserId)
                            {
                                <span class="thread-label">楼主</span>
                            }
                            <a asp-action="Show" asp-controller="Account" asp-route-id="@y.UserId" class="center">@await Html.ColorUserNameAsync(y.User)</a>
                            <span class="table-post-time">@@@y.Time.ToString("yyyy-MM-dd HH:mm:ss")</span>
                            @if (User.IsSignedIn() && (y.UserId == User.Current.Id || User.AnyRoles("Root, Master")))
                            {
                                <a href="javascript:RemovePost('@y.Id')">删除</a>
                            }
                        </p>
                        @Html.Sanitize(Html.Marked(y.Content).ToString())
                    </div>
                    <div class="clear"></div>
                </div>
            }
        }
    </td>
</tr>
