@model Experiment
@{
	ViewBag.Title = Model.Title + " - 实验室";
}
<div id="submit-area" class="dialog hide">
	<h2>提交程序</h2>
	<form asp-action="Submit" asp-controller="Experiment" asp-route-id="@Model.Id" enctype="multipart/form-data" method="post">
		<table class="detail-table">
			<tr>
				<td class="row-title">打包文件(.zip)</td>
				<td>
					<input type="file" name="file" />
				</td>
			</tr>
			<tr>
				<td class="row-title">NuGet Feeds</td>
				<td>
					<textarea class="textbox" style="width:calc(100% - 10px);height:100px;" placeholder="每行一个，https://www.nuget.org/api/v2可省略"></textarea>
				</td>
			</tr>
		</table>
		<br />
		<input type="submit" value="提交" class="btn btn-default" /> 
		<input type="button" class="btn-close btn" value="关闭" />
		<a asp-action="Index" asp-controller="FAQ">我需要帮助?</a>
	</form>
</div>
<div class="container">
	<div class="cont-wrap">
		<div class="grid_9">
			<h2 class="exp-title">@Model.Title</h2>
			<h3 class="exp-sub-title">运行限制</h3>
            <div class="cont-outer">
                <table class="detail-table">
                    <tr class="detail-table-header">
                        <td>时间限制</td>
                        <td>命名空间</td>
                        <td>运行时</td>
                        <td>OS</td>
                    </tr>
                    <tr>
                        <td>@Model.TimeLimit ms</td>
                        <td>@Model.Namespace</td>
                        <td>@Model.Version</td>
                        <td>@Model.OS</td>
                    </tr>
                </table>
            </div>
			<h3 class="exp-sub-title">实验内容</h3>
			<div class="cont-outer">
                @Html.Sanitize(Html.Marked(Model.Description).ToString())
            </div>
		</div>
        <div class="grid_3 sidebar">
            <h3 class="header">操作</h3>
            @if (User.IsSignedIn())
            {
                <p><a href="javascript:$('#submit-area').removeClass('hide')"><i class="fa fa-angle-double-right"></i> 提交程序</a></p>
            }
            <p><a asp-action="Index" asp-controller="Status" asp-route-eid="@Model.Id"><i class="fa fa-angle-double-right"></i> 评测记录</a></p>
            @if (Model.Contests.Count == 0 || Model.Contests.Max(x => x.Contest.End) < DateTime.Now)
            {
                <p><a asp-action="Index" asp-controller="Forum" asp-route-experiment="@Model.Id"><i class="fa fa-angle-double-right"></i> 讨论该实验</a></p>
            }
            @if (User.AnyRoles("Master, Root"))
            {
                <p><a asp-action="Edit" asp-controller="Experiment" asp-route-id="@Model.Id"><i class="fa fa-angle-double-right"></i> 编辑题目</a></p>
            }
        </div>
	</div>
</div>