@model User
@{
    ViewBag.Title = "编辑用户资料 - " + Model.UserName;
}
<style>
    td {
        padding: 8px 5px;
    }
</style>
<div class="container">
    <div class="cont-wrap">
        <div class="grid_9">
            <h2 class="exp-title">@ViewBag.Title</h2>
            <h3 class="exp-sub-title">基本资料</h3>
            <div class="cont-outer">
                <form asp-action="Edit" asp-controller="Account" method="post" enctype="multipart/form-data">
                    <table class="detail-table no-border">
                        <tr>
                            <td class="row-title">UID</td>
                            <td>@Model.Id</td>
                        </tr>
                        <tr>
                            <td class="row-title">用户名</td>
                            <td>@await Html.ColorUserNameAsync(Model)</td>
                        </tr>
                        <tr>
                            <td class="row-title">用户组</td>
                            <td>
                                @foreach (var x in await User.Manager.GetRolesAsync(Model))
                                {
                                    <span>@x</span>
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="row-title">注册时间</td>
                            <td>@Model.RegisteryTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        </tr>
                        <tr>
                            <td class="row-title">Email</td>
                            <td>@Model.Email.Replace("@", "#")</td>
                        </tr>
                        <tr>
                            <td class="row-title">组织</td>
                            <td><input type="text" class="textbox w-3" asp-for="Organization" /></td>
                        </tr>
                        <tr>
                            <td class="row-title">网站</td>
                            <td><input type="text" class="textbox w-3" asp-for="WebSite" /></td>
                        </tr>
                        <tr>
                            <td class="row-title">个性签名</td>
                            <td><input type="text" class="textbox w-3" asp-for="Motto" /></td>
                        </tr>
                        <tr>
                            <td class="row-title">头像</td>
                            <td><input type="file" name="avatar" /></td>
                        </tr>
                    </table>
                    <br />
                    <input type="submit" class="btn btn-default" value="保存" />
                </form>
            </div>
        </div>
        @Html.Partial("Sidebar")
    </div>
</div>