@model IEnumerable<Forum>
@{
    ViewBag.Title = "论坛";
}

<div class="container">
    <div class="cont-wrap">
        <div class="grid_12">
            @foreach(var x in Model)
            {
                <h2 class="forum-title">@x.Title</h2>
                <div class="cont-outer">
                    <table class="table table-forums">
                        <colgroup>
                            <col />
                            <col class="hide-when-narrow" style="width: 7%;min-width: 60px" />
                            <col class="hide-when-narrow" style="width: 7%;min-width: 60px" />
                            <col class="hide-when-narrow" style="width: 270px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>板块</th>
                                <th class="center hide-when-narrow">主题</th>
                                <th class="center hide-when-narrow">帖子</th>
                                <th class="hide-when-narrow">最后回复</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var y in x.SubForums)
                            {
                                <tr>
                                    <td>
                                        <h4><a asp-action="Show" asp-controller="Forum" asp-route-id="@y.Id">@y.Title</a> 
                                        @if (y.TodayCount > 0)
                                        {
                                            <span class="forum-today-count">(今日: @y.TodayCount)</span>
                                        }
                                        </h4>
                                        <p>@y.Description</p>
                                    </td>
                                    <td class="hide-when-narrow center">@y.ThreadCount</td>
                                    <td class="hide-when-narrow center">@(y.PostCount + y.ThreadCount)</td>
                                    <td class="hide-when-narrow">
                                        @if (y.LastPost != null)
                                        {
                                            <img src="@Url.Action("Avatar", "Account", new { id = y.LastPost.UserId })" class="table-forums-avatar" />
                                            <a asp-action="Thread" asp-controller="Forum" asp-route-id="@y.LastPost.ThreadId"><span class="table-forums-micro-title gray">@y.LastPost.FiltedContent</span></a>
                                            <div class="table-forums-micro-title"><a asp-action="Show" asp-controller="Account" asp-route-id="@y.LastPost.UserId">@await Html.ColorUserNameAsync(y.LastPost.User)</a> <span class="table-forums-lastrep-time">@@@y.LastPost.Time.ToString("yyyy-MM-dd HH:mm")</span></div>
                                        }
                                        else
                                        {
                                            <span class="table-forums-noreply">暂无回复</span>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>
