@model IEnumerable<Post>
@{
    Thread Thread = ViewBag.Thread;
    ViewBag.Title = Thread.Title;
}

<div class="hidden" id="new-post-outer">
    <div id="new-post" class="new-comment">
        <p>发表回复</p>
        <form asp-action="Post" asp-controller="Forum" asp-route-id="@Thread.Id" id="frmNewPost">
            <input type="hidden" name="pid" id="new-post-pid" />
            <div class="markdown-editor-outer">
                <textarea class="textbox markdown-editor" name="Content"></textarea>
                <div class="markdown-editor-bottom">
                    <a href="javascript:NewPost()">发表回复</a>
                    <a href="javascript:$('#new-post-outer').append($('#new-post'))">取消回复</a>
                    支持Markdown语法、拖拽图片文件至编辑区或直接从剪贴板粘贴可上传图片文件。
                </div>
            </div>
        </form>
    </div>
</div>

<div class="hidden" id="edit-post-outer">
    <div id="edit-post">
        <form asp-action="EditPost" asp-controller="Forum" asp-route-id="@Thread.Id" id="frmEditPost">
            <input type="hidden" name="pid" id="post-edit-id" />
            <div class="markdown-editor-outer">
                <textarea class="textbox markdown-editor" name="Content" id="txtEditPost"></textarea>
                <div class="markdown-editor-bottom">
                    <a href="javascript:EditPostSubmit()">保存修改</a>
                    <a href="javascript:CancelEditPost()">取消编辑</a>
                    支持Markdown语法、拖拽图片文件至编辑区或直接从剪贴板粘贴可上传图片文件。
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="cont-wrap">
        <div class="grid_12">
            <h2 class="forum-title">@ViewBag.Title</h2>
            <div class="cont-outer">
                <div class="table-post-outer">
                    <table class="table-post">
                        <colgroup>
                            <col style="width: 160px;" />
                            <col />
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="center table-post-info">查看: @Thread.Visit | 回复: @ViewBag.Count</th>
                                <th>@Thread.Title</th>
                            </tr>
                        </thead>
                        <tbody class="lst-posts">
                            <tr>
                                <td class="center">
                                    <a asp-action="Show" asp-controller="Account" asp-route-id="@Thread.UserId" class="center">@await Html.ColorUserNameAsync(Thread.User)</a>
                                    <hr />
                                    <p><img class="post-avatar" src="@Url.Action("Avatar", "Account", new { id = Thread.UserId })" /></p>
                                    <p class="post-role"><span class="thread-label purple">@((await User.Manager.GetRolesAsync(Thread.User)).First())</span></p>
                                </td>
                                <td>
                                    @if (Thread.IsAnnouncement)
                                    {
                                        <span class="thread-label purple">ANNOUNCEMENT</span>
                                    }
                                    @if (Thread.IsTop)
                                    {
                                        <span class="thread-label purple">TOP</span>
                                    }
                                    @if (User.IsSignedIn())
                                    {
                                        @if (Thread.UserId == User.Current.Id || User.AnyRoles("Root, Master"))
                                        {
                                            <a href="javascript:EditThread()">编辑</a>
                                            <a href="javascript:$('#frmRemoveThread').submit()">删除</a>
                                        }
                                        @if (User.AnyRoles("Root, Master"))
                                        {
                                            <a href="javascript:Top()">置顶/取消置顶</a>
                                            <a href="javascript:Notice()">设置/取消公告</a>
                                            <a href="javascript:Lock()">锁定/解锁</a>
                                        }
                                    }
                                    <span class="table-post-time">发表于 @Thread.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                    <hr />
                                    <div class="thread-content">
                                        @Html.Sanitize(Html.Marked(Thread.Content).ToString())
                                    </div>
                                    @if (User.IsSignedIn() && Thread.UserId == User.Current.Id || User.AnyRoles("Root, Master"))
                                    {
                                        <div class="thread-edit">
                                            <form asp-action="EditThread" asp-controller="Forum" asp-route-id="@Thread.Id" id="frmEditThread">
                                                <div class="markdown-editor-outer">
                                                    <textarea class="textbox markdown-editor" id="txtEditThread" name="Content">@Thread.Content</textarea>
                                                    <div class="markdown-editor-bottom">
                                                        <a href="javascript:EditThreadSubmit()">保存修改</a>
                                                        <a href="javascript:CancelEditThread()">取消编辑</a>
                                                        支持Markdown语法、拖拽图片文件至编辑区或直接从剪贴板粘贴可上传图片文件。
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    }
                                </td>
                            </tr>
                            @foreach (var x in Model)
                            {
                                <tr data-id="@x.Id">
                                    <td class="center">
                                        <a asp-action="Show" asp-controller="Account" asp-route-id="@x.UserId" class="center">@await Html.ColorUserNameAsync(x.User)</a>
                                        <hr />
                                        <p><img class="post-avatar" src="@Url.Action("Avatar", "Account", new { id = x.UserId })" /></p>
                                        <p class="post-role"><span class="thread-label purple">@((await User.Manager.GetRolesAsync(x.User)).First())</span></p>
                                    </td>
                                    <td>
                                        @if (Thread.UserId == x.UserId)
                                        {
                                            <span class="thread-label">楼主</span>
                                        }
                                        else if (await User.Manager.IsInAnyRolesAsync(x.User, "Root, Master"))
                                        {
                                            <span class="thread-label purple">OFFICIAL</span>
                                        }
                                        @if (User.IsSignedIn())
                                        {
                                            @if (User.IsSignedIn() && (!Thread.IsLocked || User.AnyRoles("Root, Master")) && x.SubPosts.Count == 0)
                                            {
                                                <a href="javascript:Post('@x.Id')">回复</a>
                                            }
                                            @if (x.UserId == User.Current.Id || User.AnyRoles("Root, Master"))
                                            {
                                                <a href="javascript:EditPost('@x.Id')">编辑</a>
                                                <a href="javascript:RemovePost('@x.Id')">删除</a>
                                            }
                                        }
                                        <span class="table-post-time">回复于 @x.Time.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                        <hr />
                                        <div class="post-content">@Html.Sanitize(Html.Marked(x.Content).ToString())</div>
                                        <div class="post-edit"></div>
                                        @if (x.SubPosts.Count > 0)
                                        {
                                            <h3 class="comment-header">
                                                楼中楼回复
                                                @if (User.IsSignedIn() && (!Thread.IsLocked || User.AnyRoles("Root, Master")))
                                                {
                                                    <a href="javascript:Post('@x.Id')" class="add-comment">添加回复</a>
                                                }
                                            </h3>
                                            foreach (var y in x.SubPosts.OrderBy(z => z.Time))
                                            {
                                                <div class="comment-item" data-id="@y.Id">
                                                    <img class="comment-avatar" src="@Url.Action("Avatar", "Account", new { id = y.UserId })" />
                                                    <div class="comment-content">
                                                        <p>
                                                            @if (await User.Manager.IsInAnyRolesAsync(y.User, "Root, Master"))
                                                            {
                                                                <span class="thread-label purple">OFFICIAL</span>
                                                            }
                                                            else if (y.UserId == Thread.UserId)
                                                            {
                                                                <span class="thread-label">楼主</span>
                                                            }
                                                            <a asp-action="Show" asp-controller="Account" asp-route-id="@y.UserId" class="center">@await Html.ColorUserNameAsync(y.User)</a>
                                                            <span class="table-post-time">@@@y.Time.ToString("yyyy-MM-dd HH:mm:ss")</span>
                                                            @if (User.IsSignedIn() && (y.UserId == User.Current.Id || User.AnyRoles("Root, Master")))
                                                            {
                                                                <a href="javascript:RemovePost('@y.Id')">删除</a>
                                                            }
                                                        </p>
                                                        @Html.Sanitize(Html.Marked(y.Content).ToString())
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <div class="pager-outer">
                    @Html.MakePager()
                    <div class="clear"></div>
                </div>
                @if (User.IsSignedIn() && (!Thread.IsLocked || User.AnyRoles("Root, Master")))
                {
                    <br />
                    <table class="table-post table-post-outer">
                        <colgroup>
                            <col style="width: 160px;" />
                            <col />
                        </colgroup>
                        <tr>
                            <td></td>
                            <td>
                                <p>发表回复</p>
                                <form asp-action="Post" asp-controller="Forum" asp-route-id="@Thread.Id" method="post" id="frmNewReply">
                                    <div class="markdown-editor-outer">
                                        <textarea class="textbox markdown-editor" name="Content"></textarea>
                                        <div class="markdown-editor-bottom">支持Markdown语法、拖拽图片文件至编辑区或直接从剪贴板粘贴可上传图片文件。</div>
                                    </div>
                                    <hr />
                                    <p>
                                        <input type="button" id="btnReply" class="btn btn-default" value="回复" />
                                    </p>
                                </form>
                            </td>
                        </tr>
                    </table>
                }
            </div>
        </div>
    </div>
</div>
@if (User.AnyRoles("Root, Master"))
{
    <form asp-action="Top" asp-controller="Forum" asp-route-id="@Thread.Id" id="frmTop"></form>
    <form asp-action="Notice" asp-controller="Forum" asp-route-id="@Thread.Id" id="frmNotice"></form>
    <form asp-action="Lock" asp-controller="Forum" asp-route-id="@Thread.Id" id="frmLock"></form>
    <script>
        function Top() {
            $.post($('#frmTop').attr('action'), $('#frmTop').serialize(), function (result) { popResult(result); });
        }

        function Lock() {
            $.post($('#frmLock').attr('action'), $('#frmLock').serialize(), function (result) { popResult(result); });
        }

        function Notice() {
            $.post($('#frmNotice').attr('action'), $('#frmNotice').serialize(), function (result) { popResult(result); });
        }
    </script>
}
@if (User.IsSignedIn())
{
    <form asp-action="RemovePost" asp-controller="Forum" id="frmRemovePost">
        <input type="hidden" name="id" id="remove-post-id" />
    </form>
    <form asp-action="RemoveThread" asp-controller="Forum" asp-route-id="@Thread.Id" id="frmRemoveThread"></form>
    <script>
        function RemovePost(id) {
            $('#remove-post-id').val(id);
            popResult("正在删除回复...");
            $.post($('#frmRemovePost').attr('action'), $('#frmRemovePost').serialize(), function (result) { popResult(result); $('[data-id="' + id + '"]').remove(); });
        }

    function Post(pid)
    {
        $('#new-post-pid').val(pid);
        $('tr[data-id="' + pid + '"]').children('td').last().append($('#new-post'));
    }

    function NewPost()
    {
        popResult("正在发表回复...");
        $('#new-post-outer').append($('#new-post'));
        $.post($('#frmNewPost').attr('action'), $('#frmNewPost').serialize(), function (data) {
            render.Post(data, function () { popResult('发表成功'); $('.markdown-editor').val(''); });
        });
    }
    $("#btnReply").click(function () {
        popResult("正在发表回复...");
        $.post($('#frmNewReply').attr('action'), $('#frmNewReply').serialize(), function (data) {
            render.Post(data, function () { popResult('发表成功'); $('.markdown-editor').val(''); });
        });
    });

    function EditThread()
    {
        $('.thread-content').hide();
        $('.thread-edit').show();
    }

    function EditThreadSubmit() {
        popResult("正在提交...");
        $.post($('#frmEditThread').attr('action'), $('#frmEditThread').serialize(), function (data) {
            $('.thread-content').html(data);
            $('.thread-content').show();
            $('.thread-edit').hide();
            popResult("主题编辑成功");
        });
    }

    function CancelEditThread()
    {
        $('.thread-content').show();
        $('.thread-edit').hide();
    }
        
    function EditPost(pid)
    {
        popResult("进入编辑回复...");
        $('.post-content').hide();
        $('.post-edit').show();
        $('#post-edit-id').val(pid);
        $.get('@Url.Action("PostContent", "Render")', { id: pid }, function (data) { 
            $('#txtEditPost').val(data);
            $('tr[data-id="' + pid + '"]').children('td').last().children('.post-edit').append($('#edit-post'));
        });
    }

    function EditPostSubmit() {
        popResult("正在提交...");
        $.post($('#frmEditPost').attr('action'), $('#frmEditPost').serialize(), function (data) {
            $('#edit-post-outer').append($('#edit-post'));
            $('[data-id="' + $('#post-edit-id').val() + '"] .post-content').html(data);
            $('.post-content').show();
            $('.post-edit').hide();
            popResult("回复编辑成功");
        });
    }
    function CancelEditPost()
    {
        $('#edit-post-outer').append($('#edit-post'))
        $('.post-content').show();
        $('.post-edit').hide();
    }
    </script>
}

<script>
    var id = '@Thread.Id';
</script>